@use '../abstracts/' as *;

.btn {
  padding: 6px 8px;

  &:hover {
    color: #2B2F38;
    background-color: #F0F0F0;
  }

  &--scroll {
    color: #7E8694;
    background-color: #F8F8F8;

    &--left {
      border-radius: 50px 0 0 50px;
    }

    &--right {
      border-radius: 0 50px 50px 0;
    }
  }
}

.active {
  // color: $color-text-gray-200;
  filter: invert(57%) sepia(7%) saturate(666%) hue-rotate(180deg) brightness(92%) contrast(89%);
}

.inactive {
  // color: $color-text-gray-100;
      filter: invert(85%) sepia(7%) saturate(361%) hue-rotate(182deg) brightness(94%) contrast(84%);
}
