@use '../abstracts/' as *;

.checkbox {
  &__container {
    display: flex;
    align-items: center;
    margin-bottom: rem(10);
    // padding-left: rem(8);
    // padding-right: rem(8);
    padding: rem(8);

    &:hover {
      background-color: $color-background-gray-100;
      transition: background-color 0.2s ease-in-out;
    }

    &:focus {
      background-color: $color-background-gray-100;
      background-color: #1475DC;
      transition: background-color 0.2s ease-in-out;
    }
  }
  
  &__label {
    display: flex;

    span {
      margin-right: rem(7);
    }
  }
}


input[type=checkbox] {
  position: absolute;
  opacity: 0;

  + label {
    @extend %text-style-ui-1;
    line-height: 1;
    /* Text / Gray-400 */
    color: #2B2F38;
    // display: inline-block;
    position: relative;
    padding-top: .5rem;
    padding-left: rem(33);
    cursor: pointer;

    &::before {
      /* Borders / Gray-300 */
      content: '';
      border-width: 1px;
      border-style: solid;
      border-color: #B1B4B9;
      border-radius: 2px;
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
      top: rem(8);
      left: 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      width: .4rem;
      height: .75rem;
    }
  }  

  &:hover {
    + label::before {
    /* Brand / Blue 700 */
    border-color: #0054A4;
    }
  }

  &:focus {
    + label::before {
      outline-width: 3px;
      outline-style: solid;
      outline-color: rgba(151, 200, 247, 0.68);
    }
  }

  &:checked {
    + label::before {
      /* Brand/Blue 600 */
      // background: #1475DC;
      background-color: #1475DC;
      border-color: #1475DC;
    }

    + label::after {
      /* Background / White */
      // border-style: solid;
      // border-color: #FFFFFF;
      // border-right: 2px;
      // border-bottom: 2px;
      // transform: rotate(225deg);
      content: 'L';
      font-family: arial;
      color: white;
      -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
      -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
      transform: scaleX(-1) rotate(-35deg);
      line-height: 1rem;
      padding-top: rem(3);
      padding-right: .8rem;
      text-align: center;
    }
  }
}
