@use '../abstracts/' as *;

/*===============================
=            Header            =
===============================*/

.header {
  margin: rem(50) 0;

  .nav {
    
  }

  &__title {
    max-width: rem(800);
    margin: 0 auto;
    @extend %text-style-heading-1;
  }
}