@use '../abstracts/' as *;

/*===============================
=            Header            =
===============================*/

.header {
  display: flex;
  justify-content: space-between;
  margin-top: rem(8);
  margin-bottom: rem(4);
  margin-left: 6vw;
  margin-right: 6vw;

  .site-header__logo {
    background-image: url(/assets/static/CSIS-logo.svg);
    width: 88px;
    height: 32px;
    // color gray-300
    filter: invert(29%) sepia(14%) saturate(711%) hue-rotate(181deg) brightness(94%) contrast(89%);

    @include breakpoint('medium') {
      background-image: url(/assets/static/CSIS-logo-long.svg);
      width: 226px;
      height: 32px;
    }
  }

  a,
  button {
    &:hover {
      // color brand-blue-600
      filter: invert(39%) sepia(72%) saturate(6596%) hue-rotate(200deg) brightness(100%) contrast(84%);
      // color: $color-focus-outline;
    }
    
    &:focus {
      outline: 4px solid $color-focus-outline;
      border-radius: 1px;
    }
  }
}
