@use "../abstracts/" as *;

.icon {
  // color: royalblue !important;
  // filter: invert(6%) sepia(6%) saturate(4727%) hue-rotate(181deg) brightness(91%) contrast(88%);
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  width: 1rem;
  height: 1rem;

  &__tags {
    width: 1rem;
    height: 1rem;
  }
  &__select {
    width: 1rem;
    height: 1rem;
  }

  &__info {
    // color brand-blue-600
    filter: invert(39%) sepia(72%) saturate(6596%) hue-rotate(200deg) brightness(100%) contrast(84%);
    width: 1rem;
    height: 1rem;
  }

  &__share {
    // color gray-300
    filter: invert(29%) sepia(14%) saturate(711%) hue-rotate(181deg) brightness(94%) contrast(89%);
    width: 1rem;
    height: 1rem;
  }

  &__social {
    // color gray-300
    // filter: invert(29%) sepia(14%) saturate(711%) hue-rotate(181deg) brightness(94%) contrast(89%);
    width: 1rem;
    height: 1rem;

    // &:hover {
    //   // color: $color-brand-blue-600;
    //   filter: invert(39%) sepia(72%) saturate(6596%) hue-rotate(200deg) brightness(100%) contrast(84%);
    // }

    // &:focus {
    //   filter: none;
    //   filter: invert(39%) sepia(72%) saturate(6596%) hue-rotate(200deg) brightness(100%) contrast(84%);
    //   outline: 3px solid $color-focus-outline;
    // }
  }

  &__report {
    // color brand-blue-600
    filter: invert(39%) sepia(72%) saturate(6596%) hue-rotate(200deg) brightness(100%) contrast(84%);
    width: 1rem;
    height: 1rem;
  }

  &__table-navigation {
    // width: 1rem;
    // height: 1rem;
    // .active {
    //   color: $color-text-gray-200;
    //   filter: invert(57%) sepia(7%) saturate(666%) hue-rotate(180deg) brightness(92%) contrast(89%);
    // }

    // .inactive {
    //   color: $color-text-gray-100;
    //   filter: invert(85%) sepia(7%) saturate(361%) hue-rotate(182deg) brightness(94%) contrast(84%);
    // }
  }
}

.active {
  // color: $color-text-gray-200;
  filter: invert(57%) sepia(7%) saturate(666%) hue-rotate(180deg) brightness(92%) contrast(89%);
}

.inactive {
  // color: $color-text-gray-100;
  filter: invert(85%) sepia(7%) saturate(361%) hue-rotate(182deg) brightness(94%) contrast(84%);
}
