@use '../abstracts/' as *;

main {
  margin: 0 auto;
}

.intro-content {
  max-width: rem(800);
  margin-top: rem(56);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__overline {

    // TODO: find better names for these modifiers
    &--small {
      @extend %text-style-ui-5-caps;
      color: $color-text-gray-400;
      margin: 0;
    }
    
    &--regular {
      @extend %text-style-ui-4-caps;
      color: $color-text-gray-300;
      margin: 0;

      &::after {
        content: '';
        display: block;
        border-bottom: 2px solid $color-borders-gray-100;
        width: 23px;
        height: 2px;
        margin: 0 auto;
        margin-top: rem(8);
      }
    }
  }

  &__title {
    margin-top: rem(12);
    margin-bottom: rem(48);

    @extend %text-style-heading-1;
    color: $color-text-gray-500;
    text-align: center;
  }

  &__introduction {
    margin-bottom: rem(16);
    max-width: $size__content-max-width;
    text-align: center;

    span {
      color: $color-brand-blue-600;
    }
  }

  &__more {
    margin-bottom: rem(56);
  }

  &__graphs {
    max-width: $size__content-max-width;
    margin-bottom: rem(80);

    img:first-child {
      margin-bottom: rem(56);
    }

    @include breakpoint('medium') {
      display: flex;
      justify-content: space-between;
      max-width: rem(1200);
    }
  }
}