@use '../abstracts/' as *;

.options {
  &__container {
    background-color: $color-background-white;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);

    &--sticky {
      position: sticky;
      top: 0;
      // top: calc(var(--optionsHeight) - 2px);
      z-index: 10;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(16);
  }

  &__header {
    display: block;
    // padding-left:  var(--container-padding);
    // padding-right: var(--container-padding);
  }

  &__btn {
    &--tab {
      padding: 0 rem(16);      
    }

    &--tab--active {
      border-bottom: 3px solid $color-borders-gray-400;
    }
  }

  &__count {
    background-color: $color-text-gray-400;
    border-radius: rem(19);
    color: $color-text-white;
    @extend %text-style-ui-5;
    padding: rem(3) rem(8) rem(4);
  }
}
