@use '../abstracts/' as *;

.options {
  background-color: $color-background-white;
  
  &__container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-bottom: rem(56);

    &--sticky {
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(16);
  }

  &__header {
    position: relative;
    display: flex;
    text-align: left;
    margin-top: rem(32);

    &::before {
      content: "";
      position: absolute;
      border-bottom: 3px solid $color-borders-gray-300;
      bottom: 0;
      left: -6vw;
      width: 100vw;
    }
  }

  &__btn {
    display: flex;

    &--tab {
      display: flex;
      align-items: flex-end;
      position: relative;
      text-align: left;
      inline-size: min-content;
      padding-top: rem(4);
      padding-bottom: rem(16); 
      padding-left: rem(8);
      padding-right: rem(4);
      border-bottom: 3px solid $color-borders-gray-300;
      margin-right: rem(16);
    }

    &--tab--active {
      border-bottom: 3px solid $color-borders-gray-400;
    }

    &--tab:hover {
      border-bottom: 3px solid $color-borders-gray-400;

      .options__count {
        color: $color-text-gray-300;
        background-color: $color-background-gray-300;
      }
    }

    &--tab:focus {
      outline: 3px solid $color-focus-outline;
    }
  }

  @include breakpoint('medium') {
    &__btn--tab {
      inline-size: initial;
    }
  }

  &__count {
    background-color: $color-background-gray-200;
    border-radius: rem(19);
    color: $color-text-gray-300;
    @extend %text-style-ui-5;
    padding: rem(3) rem(8) rem(4);
    margin-left: rem(12);

    &--active {
      color: $color-text-white;
      background-color: $color-text-gray-400;
    }
  }
}
