@use "../abstracts/" as *;

label[aria-hidden="true"],
[hidden] {
  display: none;
}

.search {
  position: relative;
  background-color: $color-background-white;

  &__input {
    border: 0;
    background-color: transparent;
    padding-left: rem(32);
    padding-right: rem(32);
    padding-top: rem(8);
    padding-bottom: rem(8);

    &::placeholder {
      color: $color-text-gray-200;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 1px $color-brand-blue-600;
      border-radius: 0;
    }
    

    &:hover {
      background-color: $color-background-gray-100;
      border-radius: 0;

      &:not(:placeholder-shown) {
        background-color: transparent;
        box-shadow: 0 1px $color-borders-gray-100;
        border-radius: 0;
      }
    }    
  }

  &__input--active {
      box-shadow: 0 1px $color-brand-blue-600;
      border-radius: 0;
  }

  &__btn {
    position: relative;
    right: rem(5);
    bottom: rem(2);
    color: $color-text-gray-200;

    &-clear {
      position: absolute;
      font-size: rem(24);

      &:focus {
        outline: 3px solid $color-focus-outline;
      }
    }

    &-clear--hidden {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    height: 2.3125rem;
    padding-right: .375rem;
    padding-left: .375rem;
    padding-top: .300rem;
    // color: $color-text-gray-200;
    filter: invert(57%) sepia(7%) saturate(666%) hue-rotate(180deg) brightness(92%) contrast(89%);
  }
}
