@use '../abstracts/' as *;

.options {
  --border: 0;
  // --borderRadius: 10px;
  // --itemHoverColor: black ;
  // --itemHoverBG: red;
  --itemColor: #2B2F38;
  --itemIsActiveColor: #2B2F38;
  // --itemPadding: 0 20px 0 48px;
  --itemIsActiveBG: #EFF5F8;
  // --indicatorColor: purple;
  // --placeholderColor: #7E8694;
  // display: flex;
  // flex-direction: column;
  // border-bottom: 1px solid #D3D4D6;
  
  // @include breakpoint('medium') {
  //   flex-direction: row;
  //   justify-content: space-around;
  // }

  &__header {
    // display: block;
  }
  
  &__btn {
    // margin-left: rem(16);

    &--tab {
      border-bottom: 3px solid $color-borders-gray-400;
    }  
  }

  button + button {
    margin-left: rem(16);
  }
}

.selects {
  display: flex;
  flex-direction: column;
  // border-bottom: 1px solid #D3D4D6;
  
  @include breakpoint('medium') {
    flex-direction: row;
    justify-content: space-around;
  }
}
.select-container {
  @include breakpoint('medium') {
    width: 200px;
  }
}

.select {
  &__select-tag {
    color: #D3D4D6;
    border-bottom: 1px solid #D3D4D6;
  }

  &__tags-options {
    display: none;
  }
}
