@use '../abstracts' as *;

.share {
  display: none;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  @include breakpoint('medium') {
    display: flex;
  }

  &__icon {
    filter: invert(6%) sepia(6%) saturate(4727%) hue-rotate(181deg) brightness(91%) contrast(88%);
    width: 1rem;
    height: 1rem;
  }

  &__link {
    @include font-size(16px);
    padding: rem(8px);
    color: $color-text-gray-300;
    transition: color 0.5s ease;

    &:hover {
      color: $color-text-white;
    }

    &-email {
      @include font-size(22px);
    }

    &-print {
      background: none;
      border: 0;
      cursor: pointer;
    }
  }
}
