@use '../abstracts/' as *;

.table {
  overflow-x: auto;
  border: none;
  border-top: 1px solid $color-borders-gray-100;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;

  @include breakpoint('large') {
    margin-left: auto;
    margin-right: auto;
  }

  &__wrapper {
    background-color: $color-background-white;
  }

  th {
    //text-transform: uppercase;
  }
  
  // td,
  // th {
  //   border: 1px solid #EEEEEE;
  //   border-top: none;
  //   text-align: left;
  // }
  
  
  &__cell{
  
    &--header {
      color: $color-text-gray-500;
      padding: rem(12) rem(16);
      background-color: $color-background-white;
      @extend %text-style-ui-2-bold;

      border: 1px solid $color-borders-gray-100;
      border-top: none;
      border-bottom: 1px solid $color-borders-gray-400;
      text-align: left;

      &:first-child {
        padding: rem(12) rem(16);
        padding-left: rem(48);
        max-width: rem(440);
        min-width: rem(440);
      }

      &:nth-child(2) {
        min-width: rem(128);
        max-width: rem(128);
      }

      &:nth-child(3) {
        min-width: rem(224);
        max-width: rem(224);
      }

      &:nth-child(4) {
        min-width: rem(240);
        max-width: rem(240);
      }

      &:nth-child(5) {
        min-width: rem(224);
        max-width: rem(224);
      }

      &:nth-child(6) {
        min-width: rem(240);
        max-width: rem(240);
      }

      &__container {
        display: flex;
        align-items: center;
      }
    }
  }

  .sort-icons-container {
    display:flex;
    flex-direction: column;
    margin-left: rem(4);
    cursor: pointer;
  }

  .sort-icon {
    font-size: rem(8);
    pointer-events: none;
    color: $color-text-gray-100;

    &--active {
      color: $color-text-gray-500;
    }

    &--inactive {
      color: $color-text-gray-100;
    }

  }

  &__container {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;

    &--sticky {
      position: sticky;
      top: rem(48);
      z-index: 10;
      
      @include breakpoint('medium') {
        top: rem(50);
      }
    }
  }
}

.table__body {
  border-top: 0;

  tr {
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  tr:hover {
    background-color: $color-background-gray-100 !important;
  }

  .hide {
    display: none;
  }
  
  .extra-content {
    background-color: $color-background-gray-100 !important;


    .table__body__cell {
      padding-left: rem(48);
    }

    &__container {
      padding: rem(8) rem(16) rem(32) rem(32);
      max-width: rem(750);
      @extend %text-style-paragraph-2;
    }

    .link {
      margin-top: rem(12);
    }

    .link a {
      color: $color-brand-blue-600;
      text-decoration: none;

      .icon-container {
        // color brand-blue-600
        margin-left: rem(5);
        filter: invert(39%) sepia(72%) saturate(6596%) hue-rotate(200deg) brightness(100%) contrast(84%);
      }

      &:hover {
        color: $color-brand-blue-700;

        .icon-container {
          // color brand-blue-700
          filter: invert(22%) sepia(54%) saturate(2858%) hue-rotate(194deg) brightness(92%) contrast(101%);
        }
      }

      &:focus {
        color: $color-brand-blue-700;
        background-color: $color-background-light-blue-100;
        outline: 0;

        .icon-container {
          // color: $color-brand-blue-700;
          filter: invert(22%) sepia(54%) saturate(2858%) hue-rotate(194deg) brightness(92%) contrast(101%);
        }
      }

      &:visited {
        color: $color-brand-blue-870;

        .icon-container {
          // color: $color-brand-blue-800;
          opacity: 0.7;
          filter: invert(9%) sepia(41%) saturate(6837%) hue-rotate(211deg) brightness(98%) contrast(99%);
        }
      }
    }
  
    .policy-goals {
      &__title {
        color: black;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }

  &__cell {
    // display: flex;
    color: $color-text-gray-500;
    
    //background-color: $color-background-white;
    overflow-wrap: break-word;
    @extend %text-style-ui-2;
    border: 1px solid $color-borders-gray-100;
    border-top: none;
    text-align: left;
    vertical-align: top;

    &--data {
      padding: rem(12) rem(16);
    }

    &--no-data {
      cursor: default;
      border: none;
      padding-top: rem(40);
      padding-bottom: rem(56);
    }


    &:first-child {
      // padding: rem(12) rem(16);
      padding-left: rem(48);
      max-width: rem(440);
      min-width: rem(440);
      // word-break: break-word;
    }

    &:nth-child(2) {
      min-width: rem(128);
      max-width: rem(128);
    }
    
    &:nth-child(3) {
      min-width: rem(224);
      max-width: rem(224);
    }
    
    &:nth-child(4) {
      min-width: rem(240);
      max-width: rem(240);
    }
    
    &:nth-child(5) {
      min-width: rem(224);
      max-width: rem(224);
    }
    
    &:nth-child(6) {
      min-width: rem(240);
      max-width: rem(240);
    }

    &__title-container {
      display: flex;
    }

    &__policy-goal-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: rem(8);
      pointer-events: none;
    }

    &__policy-goal {
      border-radius: rem(10);
      padding: rem(3) rem(10) rem(5);
      @extend %text-style-ui-5;

      &--emissions_reduction {
        color: $color-policy-goals-emissions-reduction-text;
        background-color: $color-policy-goals-emissions-reduction-fill;
      }
  
      &--economic_development {
        color: $color-policy-goals-economic-development-text;
        background-color: $color-policy-goals-economic-development-fill;
      }
  
      &--resilience {
        color: $color-policy-goals-resilience-text;
        background-color: $color-policy-goals-resilience-fill;
      }
    }

    &__no-data__title {
      padding-bottom: rem(4);
      @extend %text-style-paragraph-1;
    }

    &__no-data__desc {
      @extend %text-style-paragraph-1-italic;
      color: $color-text-gray-200;
    }
  }
}


.icon-container {
  pointer-events: none;
  margin-right: rem(16);
}

.icon-tag-container {
  margin-right: rem(8);
}

.tooltip {
  @extend %text-style-ui-4;
  color: $color-text-gray-500;
  background-color: $color-background-white;
}


